body{background-color: #FEFBF3;
    text-align: justify;
    }
    
hr{background-color: #FEFBF3;
    border-style:dotted none none;
    border-color: #E9DAC1;
    border-width: 7px;
    width: 30%;
    margin-left: 1%;
    }
    
img{height:200px; 
    width:200px}

h1{color: #18978F;
    font-family: 'Montserrat', sans-serif;
    }
h2{color: #18978F;
    font-family: 'Montserrat', sans-serif;
    }
h3{color: #18978F;
    font-family: 'Montserrat', sans-serif;
    }
p   {color: #54BAB9;
    font-family: 'Montserrat', sans-serif;}

ul {color: #54BAB9;
    font-family: 'Montserrat', sans-serif;}
ol {color: #54BAB9;
    font-family: 'Montserrat', sans-serif;}

table {color: #54BAB9;
        font-family: 'Montserrat', sans-serif;}

a   {color: #54BAB9;
    text-decoration: none }